html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
header,
footer,
main,
aside,
section,
nav,
ul,
li,
p,
input,
form,
button,
label,
i,
a,
div,img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  color: $font-dark;
}
